<% include ../header %>
	<% include ../helpers/search_form %>
	
	<div class="jumbotron">
		<h1>Come To Daddy</h1>
        
        <img class="lead" id="logo" src="imagem/cometodaddy.jpg" height="350" width="800" alt="">
	</div>
    
<% include ../footer %>


 